{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <title>Dairy Product | {% block title %}{% endblock title %}</title>
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'app/images/neel.png' %}" width="70" height="50" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">首頁</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                產品清單
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'category' 'ML' %}">Milk</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'CR' %}">Curd</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'MS' %}">Milkshake</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'LS' %}">Lassi</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'GH' %}">Ghee</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'PN' %}">Paneer</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'CZ' %}">Cheese</a></li>
                <li><a class="dropdown-item" href="{% url 'category' 'IC' %}">Ice-creams</a></li>              
              </ul>
            </li>
          
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'about' %}">關於我</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'contact' %}">聯絡我</a>
            </li>

          </ul>
          <form class="d-flex" role="search" action="/search">
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
          </form>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item dropdown mx-2">
              <a href="#" class="nav-link dropdown-toggle text-white" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                <li><a href="{% url 'profile' %}" class="dropdown-item">個人資料</a></li>
                <li><a href="{% url 'orders' %}" class="dropdown-item">訂單</a></li出出
                <li><a href="{% url 'passwordchange' %}" class="dropdown-item">變更密碼</a></li>
                <li><a href="{% url 'logout' %}" class="dropdown-item">登出</a></li>
              </ul>
            </li>
            <li class="nav-item mx-2">
              <a href="{% url 'showcart' %}" class="nav-link text-white">         
                <span class="badge bg-danger">{% if totalitem > 0 %} {{totalitem}} {% else %} 0 {% endif %}</span> 
                <i class="fa-solid fa-cart-shopping fa-lg"></i>
              </a>
            </li>
            <li class="nav-item mx-2">
              <a href="{% url 'showwishlist' %}" class="nav-link text-white">
                <span class="badge bg-danger">{% if wishitem > 0 %} {{wishitem}} {% else %} 0 {% endif %}</span> 
                <i class="fas fa-heart fa-lg"></i
              </a>
            </li>
          </ul>
        {% else %}
          <ul class="navbar-nav mb-2 mb-lg-0"></ul>
            <li class="nav-item mx-2">
              <a href="{% url 'login' %}" class="nav-link text-white">登錄</a>
            </li>
            <li class="nav-item mx-2">
              <a href="{% url 'customerregistration' %}" class="nav-link text-white">註冊</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>


  {% block banner-slider %}{% endblock banner-slider %}
  {% block information %}{% endblock information %}
  {% block main-content %}{% endblock main-content %}
  {% block payment-gataway %}{% endblock payment-gataway %}

  <!-- footer -->
  <footer class="fixed-bottom bg-success text-center p-2 mt-5 fw-bold text-white">
    Copyright : 2023 || Develop by : Ryowu
  </footer>

  
  <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app/js/jquery.min.js' %}"></script>
  <script src="{% static 'app/js/all.min.js' %}"></script>
  <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'app/js/myscript.js' %}"></script>
</body>
</html>