{% extends 'app/base.html' %} 

{% load static %} {% block title %}Contact{% endblock title %} 

{% block banner-slider %}
<div class="container mt-5 text-dark">
  <div class="pt-5">
    <h2 class="text-center fs-1 font-bold">聯絡我</h2>
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">姓名</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">電子郵件：</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">我們絕不會與其他人分享您的電子郵件。</div>
      </div>
      <div class="mb-3 form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">請在此處留言</label>
      </div>
  
      <button type="submit" class="btn btn-primary">送出</button>
    </form>
    
  </div>
</div>
{% endblock banner-slider %} {% block main-content %} {% endblock main-content %}